<h1>Cocktails#new</h1>
<p>Fine me in app/views/cocktails/new/html.erb</p>


<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>



<!-- in simple form is for dose -->
<!-- post coctails/:id/doses rather than passing one single item we would do an array like [@coctail, @dose] and because im passing odse in my controller for dose new it would be Dose.new -->
